legend {
  color: purple;
  }
label {
    color:blue;
    text-decoration: underline;
  }
#input_precio {
    background-color:red;
    font-family: Arial, sans-serif;
    font-weight: bold;"
}
#input_1{
    background-color:lightgrey;
    color:blue
}
#descuento{
    border-style: dotted;
    border-color:green;
    border-width: 5px;
}
