.main_table{
  width: 50%;
  margin: 0 auto;
}
.tabla_borde{
  border:1px solid pink;
}
.cabecera{
  background-color: pink;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.cuerpo{
  background-color: white;
  color: darkblue;
  font-size: 12px;
  text-align: justify;
}
.pie{
  background-color: pink;
  font: 10px;
  color: white;
  text-align: right;
}
